.policytoolbar {
    --background:  #ffb31a;
  }

  ion-card.card-border {
    border: 3px solid #ffb31a;
    border-width: thin;
    border-radius: 5px;
 }

 ion-card.card-border2 {
    border-radius: 5px;
 }

.border-premium {
    border: 3px solid #ffb31a;
    border-width: thin;
}
 
 .icon {
    display: inline-block;
    font-size: 25px;
    vertical-align: middle;
    color: gray;
  }