<ion-header >
  <ion-toolbar class="policytoolbar">
    <ion-buttons style="color:#00264d" slot="start">
      <ion-back-button style="color:#00264d" defaultHref="/"></ion-back-button>
    </ion-buttons>
    <ion-title style="color:#00264d">All Policies</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content style="background-color: gray">
  <ion-card class="card-border">
    <ion-grid no-padding>
      <ion-row>
        <ion-col size="8">
          <span style="font-size: 17px;color:#00264d;font-weight: bold;">LifeSuper 20</span>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col size="10">
          <span style="font-size: 12px;color:#00264d;">Policy No: 610007042</span>
          <br>
          <span style="font-size: 12px;color:#00264d;">Status: Inforce</span>
        </ion-col>
        <ion-col size="2" style="text-align: right;">
          <ion-icon class="icon" name="chevron-forward-outline"></ion-icon>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col size="6">
          <span style="font-size: 12px;color:gray; text-align: left;">Sum Assured</span>
        </ion-col>
        <ion-col size="6" style="text-align: right;">
          <span style="font-size: 12px;color:gray; text-align: left;">HKD 5,900,000</span>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col size="6">
          <span style="font-size: 12px;color:gray; text-align: left;">Surrender Value*</span>
        </ion-col>
        <ion-col size="6" style="text-align: right;">
          <span style="font-size: 12px;color:gray; text-align: left;">HKD 240,770</span>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col size="6">
          <span style="font-size: 12px;color:gray; text-align: left;">Modal Premium/</span>
          <br>
          <span style="font-size: 12px;color:gray; text-align: left;">Regular Contribution Including Levy</span>
        </ion-col>
        <ion-col size="6" style="text-align: right;margin-top:9%">
          <span style="font-size: 12px;color:gray; text-align: left;">HKD 3,441.00</span>
        </ion-col>
      </ion-row>

    </ion-grid>
    <div class="border-premium">
        <ion-row>
          <ion-col size="1" style="background-color: #ffb31a;text-align: center;">
            <ion-icon name="alert-outline" style="zoom: 1;color: white;font-weight: bold;"></ion-icon>
          </ion-col>
          <ion-col size="11" style="color:#ffb31a ;">
            <span>Premium of HKD 1,280.90 due in 3 days</span>
          </ion-col>
        </ion-row>
      
    </div>
  </ion-card>

  <ion-card class="card-border2">
    <ion-grid no-padding>
      <ion-row>
        <ion-col size="8">
          <span style="font-size: 17px;color:#00264d;font-weight: bold;">Sun Architect</span>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col size="10">
          <span style="font-size: 12px;color:#00264d;">Policy No: 201491780</span>
          <br>
          <span style="font-size: 12px;color:#00264d;">Status: Inforce</span>
        </ion-col>
        <ion-col size="2" style="text-align: right;">
          <ion-icon class="icon" name="chevron-forward-outline"></ion-icon>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col size="6">
          <span style="font-size: 12px;color:gray; text-align: left;">Contribution Amount</span>
        </ion-col>
        <ion-col size="6" style="text-align: right;">
          <span style="font-size: 12px;color:gray; text-align: left;">HKD 11,066</span>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col size="6">
          <span style="font-size: 12px;color:gray; text-align: left;">Fund Balance*</span>
        </ion-col>
        <ion-col size="6" style="text-align: right;">
          <span style="font-size: 12px;color:gray; text-align: left;">HKD 10,539</span>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col size="6">
          <span style="font-size: 12px;color:gray; text-align: left;">Surrender Value</span>
        </ion-col>
        <ion-col size="6" style="text-align: right;">
          <span style="font-size: 12px;color:gray; text-align: left;">HKD 7,337</span>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col size="6">
          <span style="font-size: 12px;color:gray; text-align: left;">Modal Premium/</span>
          <br>
          <span style="font-size: 12px;color:gray; text-align: left;">Regular Contribution Including Levy</span>
        </ion-col>
        <ion-col size="6" style="text-align: right;margin-top:9%">
          <span style="font-size: 12px;color:gray; text-align: left;">HKD 3,441.00</span>
        </ion-col>
      </ion-row>

    </ion-grid>
  </ion-card>

  <ion-card class="card-border2">
    <ion-grid no-padding>
      <ion-row>
        <ion-col size="8">
          <span style="font-size: 17px;color:#00264d;font-weight: bold;">Critical Medical Care Plan II</span>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col size="10">
          <span style="font-size: 12px;color:#00264d;">Policy No: 048267442</span>
          <br>
          <span style="font-size: 12px;color:#00264d;">Status: Inforce</span>
        </ion-col>
        <ion-col size="2" style="text-align: right;">
          <ion-icon class="icon" name="chevron-forward-outline"></ion-icon>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col size="6">
          <span style="font-size: 12px;color:gray; text-align: left;">Amount of Benefit</span>
        </ion-col>
        <ion-col size="6" style="text-align: right;">
          <span style="font-size: 12px;color:gray; text-align: left;">HKD 500,000</span>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col size="6">
          <span style="font-size: 12px;color:gray; text-align: left;">Modal Premium/</span>
          <br>
          <span style="font-size: 12px;color:gray; text-align: left;">Regular Contribution Including Levy</span>
        </ion-col>
        <ion-col size="6" style="text-align: right;margin-top:9%">
          <span style="font-size: 12px;color:gray; text-align: left;">HKD 3,441.00</span>
        </ion-col>
      </ion-row>

    </ion-grid>
  </ion-card>

  <ion-card class="card-border2">
    <ion-grid no-padding>
      <ion-row>
        <ion-col size="8">
          <span style="font-size: 17px;color:#00264d;font-weight: bold;">SunEducator 5</span>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col size="10">
          <span style="font-size: 12px;color:#00264d;">Policy No: 60158495</span>
          <br>
          <span style="font-size: 12px;color:#00264d;">Status: Inforce</span>
        </ion-col>
        <ion-col size="2" style="text-align: right;">
          <ion-icon class="icon" name="chevron-forward-outline"></ion-icon>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col size="6">
          <span style="font-size: 12px;color:gray; text-align: left;">Amount of Benefit</span>
        </ion-col>
        <ion-col size="6" style="text-align: right;">
          <span style="font-size: 12px;color:gray; text-align: left;">HKD 25,000</span>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col size="6">
          <span style="font-size: 12px;color:gray; text-align: left;">Cash Value*</span>
        </ion-col>
        <ion-col size="6" style="text-align: right;">
          <span style="font-size: 12px;color:gray; text-align: left;">HKD 2,046</span>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col size="6">
          <span style="font-size: 12px;color:gray; text-align: left;">Surrender Value*</span>
        </ion-col>
        <ion-col size="6" style="text-align: right;">
          <span style="font-size: 12px;color:gray; text-align: left;">HKD 2,251</span>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col size="6">
          <span style="font-size: 12px;color:gray; text-align: left;">Modal Premium/</span>
          <br>
          <span style="font-size: 12px;color:gray; text-align: left;">Regular Contribution Including Levy</span>
        </ion-col>
        <ion-col size="6" style="text-align: right;margin-top:9%">
          <span style="font-size: 12px;color:gray; text-align: left;">HKD 3,441.00</span>
        </ion-col>
      </ion-row>

    </ion-grid>
  </ion-card>

</ion-content>
