#container {
    text-align: center;
  
    position: absolute;
    left: 0;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
  }
  
  .badge {
    font-size: 11px;
  }
  
  .avatar{
    margin: auto;
   
  }
  
  .notif-badge {
    background-color: red;
    position: absolute;
    top: -3px;
    right: -3px;
    border-radius: 70%;
    margin-right: 5%;
    height: 18px;
    width: 20px;
    text-align: center;
  }

  .icon {
    display: inline-block;
    font-size: 25px;
    vertical-align: middle;
  }

  .icon2 {
    display: inline-block;
    font-size: 25px;
    vertical-align: middle;
    color: #00264d;
  }
  

.background {
    background-image: url(../../assets/images/background2.png);
    background-repeat: no-repeat;
    background-size: cover;  
}
// ion-content.background{
//     // --background: url('/assets/img/background/background.png');
//     // --background-repeat: no-repeat;
//     // --background-size: cover;  
//     --background: url('../../assets/images/background2.png') no-repeat;
// }


ion-segment-button {
  --background-checked: transparent !important;
  --color-checked: black  !important;
  --indicator-color: transparent !important;
  --indicator-box-shadow: 0px;
  --border-color: transparent !important;
}

