#container {
  text-align: center;

  position: absolute;
  left: 0;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
}

.badge {
  font-size: 11px;
}

.avatar{
  margin: auto;
}

.notif-badge {
  background-color: red;
  position: absolute;
  top: -3px;
  right: -3px;
  border-radius: 70%;
  margin-right: 5%;
  height: 18px;
  width: 20px;
  text-align: center;
}
